################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserManagement.UserAPI/bin/Debug/netcoreapp3.0
/UserManagement.UserAPI/obj
*.user
/packages
/UserManagement.UserAPI.Test/obj
/UserManagement.UserAPI.Test/bin/Debug/netcoreapp3.1
